<html>
    <body>
        <h1>This is home page</h1>
        <form method="post" action="/edit">
            <input type="text" name="product" placeholder="Which product ? : " required = 'required'>
            <input type="text" name="stock" placeholder="Which stock new or old? : " required = 'required'>
            <input type="text" name="add_remove" placeholder="Do you want to remove or add the ? : " required = 'required'>
            <input type="number" name="items" placeholder="Enter how many are removed or added? : " required = 'required'>
            <button>Submit</button>
        </form>
    </body>
</html>